{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "jest",
        "react"
    ],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "max-len": "off",
        "no-else-return": "error",
        "import/no-extraneous-dependencies": "off",
        "no-param-reassign": "off",
        "import/prefer-default-export": "off",
        "no-confusing-arrow": "off",
        "semi": "error",
        "object-curly-spacing": ["error", "always"],
        "eol-last": ["error", "always"]
    },
    "env": {
        "jest": true,
        "es6": true,
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
